* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
/* Navbar */
.navbar {
  height: 70px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}
.logo {
  width: 80px;
  margin-left: 3vmin;
}
.hero {
  width: 100%;
  padding: 5vmin;
  display: flex;
  justify-content: center;
}
.hero-img {
  width: 55vmin;
}
.section {
  width: 50vmin;
  padding-left: 3vmin;
}
.section > h1 {
  font-weight: 600;
}
.section > p {
  font-weight: 300;
}

/* Card */
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
.card {
  width: 35vmin;
  font-size: 12px;
  flex: 0 0 auto; /* ADD */
  display: flex; /* ADD */
  flex-direction: column; /* ADD */
}
.card--image {
  width: 35vmin;
  height: 48vmin;
  border-radius: 9px;
  margin-bottom: 9px;
}

/* ADD */
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.card--stats {
  text-align: center;
}

.card--star {
  height: 14px;
}

/* ADD */
.card--price {
  margin-top: auto;
  text-align: center;
}
.bold {
  font-weight: bold;
}
